<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="body">
        <div class="main_menu">
            <nav>
                <button>Log in</button>
                <button>Create flow chart</button>
                <button id="chatbot_btn">Chat bot</button>
                <button id="simulator_btn">Simulator</button>
            </nav>
        </div>
        <textarea id="prompt_input" placeholder="IMPUT A PROMPT", type="text"></textarea>
        <button id="send_button">SEND</button>
        <button id="download_py">Download .py</button>
        <p id="gemini_answer">ANSWER</p>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>