<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="body">
        <div id="main_menu">
            <nav>
                <button>Log in</button>
                <button>Create flow chart</button>
                <button id="chatbot_btn">Chat bot</button>
                <button id="simulator_btn">Simulator</button>
            </nav>
        </div>
        <iframe id="webots" src="http://localhost:1234/index.html"></iframe>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>